@charset "utf-8";
body{margin:0;padding:20px;overflow:hidden;font-family:"微软雅黑";}
.container{
	background:#eee;
	overflow:hidden;
	zoom:1;
	border:1px solid #999;
	padding:20px;
	max-width:100%;
}
.left{
	width:200px;
	border:1px solid #999;
	margin-right:20px;
	float:left;
	padding:20px;
	background: #fff;
}
.left img{
	width:80px;
	height:80px;
	float:left;
}
.left h1{
	font-size:16px;
	overflow:hidden;
	padding:5 0 0 2px;
	margin:0;
	text-align:center;
}
.right{
	width:120px;
   	border:1px solid #999;
	margin-left:20px;
	float:right;
	background: #fff;
}
.member-logo{
	display:block;
	margin:20px;
	border:1px solid red;
	width:80px;
	height:80px;
}
.middle{
	border:1px solid #999;
	padding: 5px 20px 10px 20px;
    overflow:hidden;
    background: #fff;
}
.middle h1{
    font-size:22px;
}
.middle h2{
	font-size:18px;
}
.middle p{
	font-size:16px;
}
.team-intro{
	text-indent:35px;
}
.middle p span{
    font-weight:bold;
}
.author{
	float:right;
	font-size:12px;
	font-family:"宋体";
}
.clearfix:after {
	content: ".";
	height: 0;
	font-size: 0;
	display: block;
	visibility: hidden;
	clear: both;
}